form {

    margin: 0 auto;
   text-align: center;

}

.form-group{
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

button{
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}

span {
    color: red;
    font-style: italic;
   }