<ion-header>
  <ion-toolbar>
    <ion-title>
      EtiquetaT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <div class="center">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <ion-button [routerLink]="['/registro']">Go to Registro</ion-button>
  <br>
  <ion-button [routerLink]="['/home']">Go to Home</ion-button>
  <br>
  <ion-button [routerLink]="['/login']">Go to Login</ion-button>
  <br>
  <ion-button [routerLink]="['/etiqueta']">Go to Etiqueta</ion-button>
  <br>
  <ion-button [routerLink]="['/altaCategoria']">Go to altaCategoria</ion-button>
  <br>
  <ion-button [routerLink]="['/plantilla']">Go to plantilla</ion-button>
  <br>
  <ion-button [routerLink]="['/carrito']">Go to carrito</ion-button>
  <br>
  <ion-button [routerLink]="['/altaAdmin']">Go to altaAdmin</ion-button>
  <br>
  <ion-button [routerLink]="['/cambioContrasenia']">Go to cambioContrasenia</ion-button>
  <br>
  <ion-button [routerLink]="['/app-imagenes']">Go to app-imagenes</ion-button>
</ion-content>
